<section id="ua-donations">
  <h2 class="panel-heading">Sbírky</h2>
  <ul>
    <li><a href="https://www.darujme.cz/vyzva/1203851" target="_blank">Srdce Evropy pro Ukrajinu</a></li>
    <li><a href="https://www.darujme.cz/vyzva/1204245" target="_blank">Poslední cesta domů</a></li>
    <li><a href="https://www.donio.cz/operace-humvee-sanitky-2" target="_blank">Operace Humvee sanitky 2</a></li>
    <li><a href="https://support.koridorua.cz/aktivni-projekty/" target="_blank">Humanitární Koridor na Ukrajinu</a></li>
    <li><a href="https://www.darujme.cz/projekt/648" target="_blank">SOS Ukrajina</a></li>
    <li><a href="https://www.darujme.cz/projekt/1205934" target="_blank">Pomozte Ukrajině s Pamětí národa</a></li>
    <li><a href="https://www.zbraneproukrajinu.cz/filtr-campaign/aktivni-kampane" target="_blank">Dárek pro Putina</a></li>
    <li><a href="https://www.donio.cz/zdravotnizajisteni" target="_blank">Zdravotní zajištění</a></li>
    <li><a href="https://www.dronynemesis.cz/" target="_blank">Drony Nemesis</a></li>
  </ul>
</section>
