<!-- Get Random UA victim -->

  <section id="ua-victims">
    <h2 class="panel-heading">Oběti ruské agrese</h2>
   <div class="randomize">
      <img src="/img/ua-victims/ua-victims-1.webp" data-src="/img/ua-victims/ua-victims-1.webp" alt="Oběti ruské agrese">
      <img src="/img/ua-victims/ua-victims-1.webp" data-src="/img/ua-victims/ua-victims-2.webp" alt="Oběti ruské agrese">
   </div>
    <p>We do not forgive. We do not forget. <a href="https://www.victims.memorial/" target="_blank">www.victims.memorial</p>
  </section>
